/* Google font imports */
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&display=swap");

/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: var(--sans);
    padding: 0;
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--magenta);
    transition: all 0.2s ease;
}

a:hover {
    text-decoration: none;
    color: var(--hotmag);
}

/* Intro Section */

#intro {
    padding: 0 2rem 15rem 2rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

#contact {
    padding: 5rem 20rem 6rem 20rem;
    background-color: var(--plum);
    text-align: center;
    
}

#contact p {
    padding-bottom: 2.5rem;
}

#contact a{
    color: var(--aqua);
}

#contact a:hover {
    text-decoration: none;
    color:aquamarine;
}

/* Nav Section*/

.navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

nav {
    font-family: var(--mono);

}

.navlinks li a {
    text-decoration: none;
    transition: color 0.4s ease;
    color: var(--white);
    font-size: 1.15rem;
}

.navlinks li a:hover {
    color: var(--hotmag);
}

.navlinks li:first-child a {
    font-family: var(--sans);
}

.navlinks li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*='fa'] {
    color: var(--aqua);
    font-size: 150%;
    transition: color 0.4s ease;
}

nav [class*='fa']:hover {
    color: var(--hotmag);
}

.navlinks li a.call-to-action {
    background-color: var(--magenta);
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.4s ease;

}

.navlinks li a.call-to-action:hover {
    background-color: var(--hotmag);
    color: var(--white);
}

footer {
    padding: 0.5rem 0;
  }
  
  footer p,
  footer p small {
    text-align: center;
  }
  
  footer p {
    font-size: 1.675rem;
  }
  
  footer p small {
    font-size: 1rem;
  }

footer nav ul {
    display: flex;
    list-style-type: none;
    column-gap: 2rem;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem 0;
  }
  
  footer nav ul li a [class*="fa"] {
    color: var(--magenta);
    transition: all 0.4s ease;
  }
  
  footer nav ul li a [class*="fa"]:hover {
    color: var(--aqua);
  }



@media screen and (min-width: 750px) {
    .navlinks li:first-child {
        flex-basis: auto;
        margin-right: auto;
        text-align: left;
    }
}
